
@{
    ViewData["Title"] = "ForgotPassword";
}

@model ForgotPasswordVM
<!-- Page Intro Begins -->
<section class="page-intro">
    <div class="container-lg flex-col">
        <h1 class="page-title">Free Delivery In Baku</h1>
        <div>
            <a asp-controller="Home" asp-action="Index"
               title="Bake&amp;Roll - Online Sushi Order &amp; Free Sushi Delivery in Baku"><span>Bake&amp;Roll</span></a>
        </div>
    </div>
</section>
<!-- Page Intro Ends -->
<!-- Form Section Begins -->
<section class="account_section">
    <div class="container-lg account-container">
        <form method="post" asp-controller="Auth" asp-action="ForgotPassword" class="account-form">
            <div class="input-gr input-gr-icon">
                <input asp-for="Email" placeholder="Email Adress">
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <input class="submit-btn" type="submit" value="Submit" />
            </div>
            <div class="rg-btn">
                <a class="register-link" asp-controller="Auth" asp-action="Register">Create New Account</a>
            </div>
        </form>
    </div>
</section>

<!-- Form Section Ends -->

@section Script{
    <partial name="_ValidationScript" />
    <partial name="_Script" />
}
@section Title{
    Password Recovery
}

