
@{
    ViewData["Title"] = "UpdateDeliveryAdress";
}
@model DeliveryAdress
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Adress</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time"></label>
                        <input asp-for="Time" class="form-control">
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinAmount"></label>
                        <input asp-for="MinAmount" class="form-control">
                        <span asp-validation-for="MinAmount" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Save</button>
                    <button class="btn btn-light" asp-controller="Delivery" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Script{
    <partial name="_Script" />
    @*<script>$.validator.methods.range = function (value, element, param) {
    var globalizedValue = value.replace(",", ".");
    return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }

    $.validator.methods.number = function (value, element) {
    return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }</script>*@
}

