
@{
    ViewData["Title"] = "ChangePassword";
}

@model UserDto

<div class="row">
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Model.FirstName</h4>
                        <p>
                            @Model.Email
                        </p>
                        <form class="forms-sample" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="password" name="NewPassword" />
                            <button type="submit" class="btn btn-primary mr-2">Change Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="row justify-content-center">
            <div class="col-md-12 grid-margin stretch-card">
                <a asp-action="Index" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</div>
@section Script{
    <partial name="_Script" />
   }
