
@{
    ViewData["Title"] = "ChangePassword";
}

@model ChangePasswordVM
<!-- Page Intro Begins -->
<section class="page-intro">
    <div class="container-lg flex-col">
        <h1 class="page-title">Free Delivery In Baku</h1>
        <div>
            <a asp-controller="Home" asp-action="Index"
               title="Bake&amp;Roll - Online Sushi Order &amp; Free Sushi Delivery in Baku"><span>Bake&amp;Roll</span></a>
        </div>
    </div>
</section>
<!-- Page Intro Ends -->
<!-- Form Section Begins -->
<section class="account_section">
    <div class="container-lg account-container">
        <form method="post" asp-controller="UserAccount" asp-action="ChangePassword" class="account-form">
            <div class="input-gr input-gr-icon">
                <input asp-for="Password" placeholder="Current Password">
                <div class="input-icon"><i class="fa fa-key"></i></div>
                <span asp-validation-for="Password" class="validation-error"></span>
            </div>
            <div class="input-gr input-gr-icon">
                <input asp-for="NewPassword" placeholder="New Password">
                <div class="input-icon"><i class="fa fa-key"></i></div>
                <span asp-validation-for="NewPassword" class="validation-error"></span>
            </div>
            <div class="input-gr input-gr-icon">
                <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                <div class="input-icon"><i class="fa fa-key"></i></div>
                <span asp-validation-for="ConfirmPassword" class="validation-error"></span>
            </div>
            <div>
                <input class="submit-btn" type="submit" value="Change" />
            </div>
        </form>
    </div>
</section>

<!-- Form Section Ends -->

@section Script{
    <partial name="_ValidationScript" />
    <partial name="_Script" />
}


